.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: gray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* width: 97%; */
}

.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  max-width: 300px;
}

.footerAlbumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer_center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

.footer_icon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer_right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer_right * .MuiSlider-root {
  color: green;
}
