.sidebar {
  height: 100vh;
  flex: 0.2;
  background-color: #040404;
  color: white;
  height: 100vh;
  min-width: 230px;
}

.sidebar_logo {
  height: 70px;
  padding: 10px;
  margin-right: auto;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebar_title {
  margin-left: 20px;
  padding: 5px;
  font-size: 12px;
}
